
body {
	padding: 0;
	margin: 0;
	font-family: Ubuntu, sans-serif;
}

svg#demo {
	width: 960px;
	height: 640px;
	margin: 0 auto;
	display: block;
	z-index: 0;
}

svg#demo .spawn rect {
	fill: #96d615;
	stroke: #370452;
}

svg#demo .spawn rect:hover {
	fill: #c1f160;
}

svg#demo .destroy rect {
	fill: #9a8a3d;
	stroke: #370452;
}

svg#demo .destroy rect:hover {
	fill: #f6dd62;
}

svg#demo .btn-text {
	fill: #370452;
	pointer-events: none;
}

svg#demo text.tooltip {
	fill: #4e7304;
	font-weight: bold;
}

svg#demo .running-count {
	fill: #4e7304;
	font-size: 88px;
}

svg#demo .running-title {
	fill: #4e7304;
	font-size: 18px;
}

svg#demo .total-count {
	fill: #739039;
	font-size: 20px;
}

svg#demo .total-count-number {
	font-size: 64px;
}

svg#demo circle.zerg {
	stroke: gray;
}

svg#demo g.maximum-capacity rect {
	fill: #f00;
	opacity: 0.5;
}

svg#demo g.maximum-capacity text {
	fill: white;
	font-size: 80px;
}

svg#demo .rate-lines line {
	stroke: #ccc;
}

svg#demo .rate-lines text {
	font-size: 12px;
	fill: #ccc;
}

svg#demo .rate-text text {
	font-size: 11px;
	fill: #4d4d4d;
}

svg#demo rect.spawned {
	fill: #4682b4;
}

svg#demo rect.destroyed {
	fill: #af4e4e;
}

#conn-error {
	position: fixed;
	top: 205px;
	width: 435px;
	font-size: 16px;
	padding: 20px 20px;
	background-color: #fff;
	border: 1px solid #eee;
	box-shadow: 0px 2px 2px #ccc;
	z-index: 101;
}

#conn-err-overlay {
	position: fixed;
	width: 960px;
	height: 640px;
	background-color: #000;
	opacity: 0.25;
	z-index: 100;
}

#page-view {
	position: absolute;
	top: 100px;
	left: 100px;
	width: 420px;
	height: 420px;
	z-index: 99;
	overflow: hidden;
}

.ascii {
    font-family: Ubuntu Mono,monospace;
    line-height: 0.8;
}

#teleprompter {
	width: 870px;;
	margin: 0 auto;
	padding: 20px 45px;
	font-size: 18px;
}

#teleprompter h3 {
	font-size: 24px;
	margin-top: 25px;
}

/*EOF*/
